.student-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:10px 20px;

}
.top_students_container{
    text-align: center;
}

.card {
    width:300px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:10px;
  }
  
  .card-image {
    width:300px;
    height:200px;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-title {
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  .card-description {
    color: #666;
  }
  
  .review-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px;
    border-radius: 5px; 
    width: 350px;
    height:150px;
    background-color: #ccc;
    overflow: hidden;

  }
  .review-heading{
    text-align: center;
  }
  
  .review-title {
    margin-bottom: 5px;
  }
  
   .horizontal-line{
    border: 0;
    border-top: 1px solid black;
    margin: 10px 0;
  }
  
  .review-text {
    font-size: 14px;
    color: #333;
  }
  .reviews-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }


  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
  }
  
  .footer-section {
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
  }
  
  .contact-info span {
    margin-right: 20px;
  }
  
  .social-media {
    
    margin:5px;

}

.social-media i{
    padding:5px;
}
  
  .copyright {
    font-size: small;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column; 
    }
  
    .footer-bottom {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    .contact-info, .social-media, .copyright {
      margin-bottom: 10px;
    }
  }